<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @analise.data %>
</p>

<p>
  <strong>Arquivo:</strong>
  file...
</p>

<%= link_to 'Editar', edit_analise_path(@analise) %> |
<%= link_to 'Voltar', area  %>
